html, body {
    padding: 0;
    margin: 0;
}
body {
    background: url(https://i.imgur.com/e1hsNYa.jpg) center center 
}

.container {
    background: white;
    width: 400px; /* adjust this to the proper width */
    margin: 0 auto;
}
